* {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
  }

.container {
    display: flex;
    width: 100%;
    background-color: #FFFFFF;
    justify-content: center;
}

.wrapper {
    display: flex;
    width: 100%;
    max-width: 1440px;
}

.subwrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px 140px;
}

.header {
    display: flex;
    padding: 37px 0px;
    align-items: center;
    justify-content: space-between;
}

.pages {
    display: flex;
    align-items: center;
    gap: 40px;
}

.link {
    font-size: 18px;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: -0.2px;
    cursor: pointer;
    transition: color 0.5s ease;
}

.logo {
    padding: 0px 365px 0px 264px;
}

.logo img {
    width: 127px;
    height: 20px;
    cursor: pointer;
}

.creds {
    display: flex;
    align-items: center;
    gap: 35px;
}

.creds img {
    cursor: pointer;
}

.first-section {
    background-color: #F3F5F6;
    width: 100%;
    border-radius: 30px;
    align-items: center;
    gap: 36px;
    margin-top: 0px !important;
}

.title-main {
    font-size: 72px !important;
    max-width: 811px;
    text-align: center;
    padding-top: 82px;
}

.title {
    font-weight: 600;
    font-size: 52px;
    line-height: 120%;
    letter-spacing: -0.3px;
    max-width: 860px;
}

.button {
    background-color: #5B40FF;
    padding: 18px 45px;
    border-radius: 11px;
    font-weight: 600;
    color: #FFFFFF;
    line-height: 120%;
    letter-spacing: -0.2px;
    cursor: pointer;
}

.image-wrapper {
    display: flex;
    position: relative;
    padding-top: 43px;
}

.second-section {
    gap: 40px;
}

.section {
    margin: 90px 0;
    display: flex;
    width: 100%;
    flex-direction: column;
}

.trial {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.text-wrapper {
    display: flex;
    gap: 40px;
}

.trial-text {
    max-width: 360px;
    color: #909DA2;
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: -0.2px;
}

.button-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.benefits {
    display: flex;
    width: 100%;
    gap: 40px;
}

.benefits-wrapper {
    display: flex;
    width: 33%;
    gap: 90px;
    flex-direction: column;
    border-left: 1px solid #E6E9EA;
}

.benefit-text {
    padding-left: 20px;
}

.border {
    position: absolute;
    display: flex;
    height: 100%;
    width: 3px;
    left: -1.5px;
    background-color: black;
}

.third-section {
    gap: 40px;
}

.border-title {
    position: absolute;
    display: flex;
    height: 100%;
    width: 1px;
    left: -1px;
    background-color: gray;
}

.benefits-title {
    display: flex;
    justify-content: end;
}

.benefits-header {
    display: flex;
    position: relative;
    align-items: center;
}

.benefit-titletext {
    font-weight: 600;
    font-size: 72px;
    line-height: 120%;
    letter-spacing: -0.3px;
    max-width: 860px;
}

.slogan-logo {
    display: flex;
    justify-content: center;
}

.slogan-title {
    display: flex;
    justify-content: center;
    padding-top: 45px;
}

.slogan-title-text {
    font-weight: 600;
    font-size: 36px;
    line-height: 130%;
    letter-spacing: -0.3px;
    max-width: 750px;
    text-align: center;
}

.slogan-text {
    display: flex;
    justify-content: center;
    padding-top: 80px;
}

.services-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 54px;
}

.services-propose {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.services-text {
    font-size: 24px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: -0.3px;
    transition: color 0.5s ease;
}

.border-services {
    display: flex;
    height: 191px;
    width: 1px;
    left: -1px;
    background-color: gray;
}

.contacts {
    display: flex;
    justify-content: center;
    gap: 20px;
    cursor: pointer;
}

.contacts img {
    display: flex;
    width: 72px;
    height: 72px;
}

.border-contacts {
    width: 1160px;
    position: absolute;
    display: flex;
    background-color: lightgray;
    height: 0.5px;
}

.contacts-wrapper {
    display: flex;
    justify-content: center;
}

.contacts-logo {
    display: flex;
    padding-top: 30px;
}

.contacts-wrapper-logo {
    display: flex;
    width: 100%;
    padding-top: 30px;
}

.section-contacts {
    margin: 90px 0;
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 30px;
}

.contacts-textwrapper {
    display: flex;
    padding-top: 30px;
    justify-content: center;
    padding-left: 362px;
}

.contacts-text {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.2px;
    line-height: 140%;
    color: #909DA2;
}

.title-contacts {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.2px;
    line-height: 140%;
    color: #22282B;
    cursor: pointer;

}

.contacts-policy {
    display: flex;
    padding-top: 30px;
    justify-content: end;
    margin-left: auto;
}

.contacts-policy-text {
    display: flex;
    padding-left: 30px;
}

.list {
    display: flex;
    gap: 14px;
    align-items: center;
    cursor: pointer;
}

.list svg path {
    transition: fill 0.5s ease;
}

.list:hover .services-text {
    color: #5B40FF;
}

.list:hover svg path {
    fill: #5B40FF;
}

.link:hover {
    color: #5B40FF;
}

.card-title {
    font-size: 52px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -0.3px;
    text-align: center;
}

.basic-title {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: -0.3px;
    line-height: 130%;
    color: #22282B;
    transition: all 0.6s ease;
}

.price {
    display: flex;
    gap: 10px;
    justify-content: start;
    padding-top: 22px !important;
}

.currency {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -0.2px;
    line-height: 140%;
    color: #909DA2;
    padding-top: 16px;
}

.amount {
    font-size: 72px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -0.3px;
    color: #22282B;
    align-self: self-start;
    transition: color 0.6s ease;
}

.term {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -0.2px;
    line-height: 140%;
    color: #909DA2;
    align-self: self-end;
    padding-bottom: 11px;
}

.basic-text {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.2px;
    line-height: 140%;
    color: #909DA2;
    max-width: 239px;
    padding-top: 29px;
    transition: color 0.6s ease;
}

.basic-card {
    display: flex;
    flex-direction: column;
    width: 33.333%;
    min-height: 931px;
    justify-content: space-between;
    position: relative;
}


.card-wrapper {
    display: flex;
    width: 100%;
    height: 931px;
    box-shadow: 0px 10px 110px 0px rgba(7, 14, 39, 0.05);
    justify-content: space-between;
}

.card-button {
    max-width: 163px;
}

.card-section {
    width: 100%;
    display: flex;
    gap: 148px;
    justify-content: space-between;
}

.card-border {
    display: flex;
    height: 1px;
    width: 100%;
    background-color: #E6E9EA;
}

.card-border-wrapper {
    display: flex;
    padding-top: 29px !important;
}

.basic-descreption {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.package-type {
    font-size: 18px;
    letter-spacing: -0.2px;
    line-height: 140%;
    font-weight: 500;
}

.underline-card {
    display: flex;
    justify-content: end;
    height: 1px;
    width: 100%;
    left: -1.5px;
    background-color: #E6E9EA;
    margin-top: 18px;
}

.list-services {
    display: flex;
    flex-direction: column;
}

.list-services-points {
    display: flex;
    align-items: center;
    gap: 15px;
}

.point-text {
    font-size: 16px;
    letter-spacing: -0.2px;
    line-height: 140%;
    font-weight: 500;
    color: #22282B;
}

.left-card {
    margin-left: 40px;
}

.right-card {
    margin-right: 40px;
}

.card-header {
    display: flex;
    flex-direction: column;
    padding: 54px 0px 70px 0px;
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.chip {
    position: absolute;
    display: none;
    right: 20px;
    top: 20px;
    z-index: 10;
}

.header-left {
    padding-right: 40px;
}

.header-middle {
    margin: 0 40px;
}

.header-right {
    margin-left: 40px;
}

.list-services-array {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.middle-padding {
    padding: 40px 40px 90px 40px;
}

.included-text {
    padding: 0px 40px 38px 40px;
    color: #22282B !important;
}

.header-choosen-card {
    background-color: #5B40FF;
    position: absolute;
    top: -54px;
    transition: all 1s ease;
    padding-bottom: 70px;
}

.choosen-card {
    background-color: #F3F5F6;
    justify-content: flex-end;
}

.border-middle {
    margin-left: 40px;
    margin-right: 40px;
}

.padding {
    padding: 0px 40px;
}

.rounded-corners-left {
    border-radius: 20px 0px 0px 20px;
}

.small-padding-left {
    padding-left: 40px;
}

.small-padding-right {
    padding-right: 40px;
}

.header-choosen-card .button {
    background-color: #fff;
    display: flex;
}

.header-choosen-card .button p {
    color: #22282B;

}

.header-choosen-card .price .amount,
.header-choosen-card .basic-descreption .basic-text,
.header-choosen-card .basic-title {
    color: white;
}

.header-choosen-card .basic-title {
    padding-top: 54px;
}

.contacts-logo img {
    height: 20px;
    min-width: 127px;
}